<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-pause-handler" version="0.1.1">
  <name>Pause Handler</name>
  <description>Cordova Pause Handler Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,pause</keywords>
  <repo>https://github.com/robvandijk/cordova-plugin-pause-handler.git</repo>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PauseHandler">
        <param name="android-package" value="org.apache.cordova.pausehandler.PauseHandler"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/PauseHandler.java" target-dir="src/org/apache/cordova/pausehandler" />
  </platform>
</plugin>